## Read the data

This code will give you the data you will use for this PC:

In [54]:
# read web table into pandas DF
import pandas as pd

co2Link='https://docs.google.com/spreadsheets/d/e/2PACX-1vRXjfxeKHQBBCh_oHP-D6RIHEX4eduLjydHb6ZGsU4jo0IK0KKQSoYX_X1FGssC_9hnqCgjKN0K4AVf/pub?gid=775098192&single=true&output=csv'
carbon=pd.read_csv(co2Link)

In [55]:
# here it is:
carbon

,name,metric tonnes of CO2,date_of_information,ranking,region
0,China,1.219600e+10,2023,1,East and Southeast Asia
1,United States,4.795000e+09,2023,2,North America
2,India,2.821000e+09,2023,3,South Asia
3,Russia,1.844000e+09,2023,4,Central Asia
4,Japan,9.602300e+08,2023,5,East and Southeast Asia
...,...,...,...,...,...
211,Falkland Islands (Islas Malvinas),3.600000e+01,2023,212,South America
212,Montserrat,2.400000e+01,2023,213,Central America and the Caribbean
213,Antarctica,1.500000e+01,2023,214,Antarctica
214,"Saint Helena, Ascension, and Tristan da Cunha",1.200000e+01,2023,215,Africa
215,Niue,9.000000e+00,2023,216,Australia and Oceania

As you see, some columns have space, which should be deleted:

In [56]:
# also
carbon.columns

Index(['name', 'metric tonnes of CO2', 'date_of_information', 'ranking',
       'region'],
      dtype='object')

In [57]:
# Like this
carbon.rename(columns={'metric tonnes of CO2':'metric_tonnes_of_CO2'},inplace=True)

# see
carbon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 216 entries, 0 to 215
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   name                  216 non-null    object
 1   metric_tonnes_of_CO2  216 non-null    float64
 2   date_of_information   216 non-null    int64
 3   ranking               216 non-null    int64
 4   region                216 non-null    object
dtypes: float64(1), int64(2), object(2)
memory usage: 8.6+ KB

You always make a copy:

In [58]:
carbon_copy=carbon.copy()

## Questions

Complete the tasks requested using **carbon_copy**:

1. Keep all the columns but _Ranking_:
    * Tip: use [drop](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop.html), [loc](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.loc.html), and [iloc](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.iloc.html) for the same purpose (three ways to accomplish the task).

2. Find the country with the minimum CO2 emission in the world.

3. Find the country with the minimum CO2 emission per Region.

4. Create a new column by keeping the square root of the the original CO2  column.

5. Compute the average of CO2. Then, create a new column. This new column is
the original CO2 minus the average computed.

You have changed **carbon_copy**, now save it as a file like this:

In [80]:
# carbon_copy.to_csv("carbon_copy.csv",index=False)

# **1.-**

In [60]:
#Definimos las columnas que queremos elimar, en este caso Ranking
Columns_del=['ranking']

In [61]:
carbon_new=carbon_copy.drop(columns=Columns_del)

In [62]:
carbon_new

,name,metric_tonnes_of_CO2,date_of_information,region
0,China,1.219600e+10,2023,East and Southeast Asia
1,United States,4.795000e+09,2023,North America
2,India,2.821000e+09,2023,South Asia
3,Russia,1.844000e+09,2023,Central Asia
4,Japan,9.602300e+08,2023,East and Southeast Asia
...,...,...,...,...
211,Falkland Islands (Islas Malvinas),3.600000e+01,2023,South America
212,Montserrat,2.400000e+01,2023,Central America and the Caribbean
213,Antarctica,1.500000e+01,2023,Antarctica
214,"Saint Helena, Ascension, and Tristan da Cunha",1.200000e+01,2023,Africa
215,Niue,9.000000e+00,2023,Australia and Oceania

# **2.-**

In [65]:
carbon_new[carbon_new.metric_tonnes_of_CO2==min(carbon_new.metric_tonnes_of_CO2)]

     name  metric_tonnes_of_CO2  date_of_information                 region
215  Niue                   9.0                 2023  Australia and Oceania

# **3.-**

In [48]:
min_country=carbon_new.loc[carbon_new.groupby('region')['metric_tonnes_of_CO2'].idxmin()]
min_country[['name','metric_tonnes_of_CO2','region']]

,name,metric_tonnes_of_CO2,region
214,"Saint Helena, Ascension, and Tristan da Cunha",12.0,Africa
213,Antarctica,15.0,Antarctica
215,Niue,9.0,Australia and Oceania
212,Montserrat,24.0,Central America and the Caribbean
121,Armenia,7144000.0,Central Asia
184,Timor-Leste,660.0,East and Southeast Asia
175,Faroe Islands,742.0,Europe
141,Gaza Strip,3913000.0,Middle East
210,Saint Pierre and Miquelon,57.0,North America
211,Falkland Islands (Islas Malvinas),36.0,South America
177,Bhutan,733.0,South Asia

# **4.**

In [ ]:
#Creamos la nueva celda sacando la raiz cuadrada de los datos de CO2

In [78]:
carbon_new['CO2_raiz']=carbon_new['metric_tonnes_of_CO2']**0.5

In [79]:
carbon_new['CO2_raiz']

0      110435.501538
1       69245.938509
2       53113.086900
3       42941.821107
4       30987.578156
           ...
211         6.000000
212         4.898979
213         3.872983
214         3.464102
215         3.000000
Name: CO2_raiz, Length: 216, dtype: float64

# **5.-**

In [ ]:
#Usamos una nueva variable, y usamos la funcion mean para calcular el promedio sobre la comlumna metric_tonnes_of_CO2

In [74]:
CO2_promedio=carbon_new['metric_tonnes_of_CO2'].mean()

In [75]:
CO2_promedio

np.float64(171564562.3412037)

In [ ]:
#Creamos la nueva columna y en esta realizamos la operaciÃ³n pedida

In [76]:
carbon_new['CO2_final']=carbon_new['metric_tonnes_of_CO2']-CO2_promedio

In [77]:
carbon_new['CO2_final']

0      1.202444e+10
1      4.623435e+09
2      2.649435e+09
3      1.672435e+09
4      7.886654e+08
           ...
211   -1.715645e+08
212   -1.715645e+08
213   -1.715645e+08
214   -1.715646e+08
215   -1.715646e+08
Name: CO2_final, Length: 216, dtype: float64

In [82]:
carbon_copy.to_csv("carbon_copy.csv",index=False)